
.row-1 {
    display: flex;
    overflow-x: scroll;
    /* overflow-y:none */
  }
  
  .row-1::-webkit-scrollbar {
    height: 8px;
  }
  
  .row-1::-webkit-scrollbar-track {
    background:black
  }
  
  .row-1::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107);
  }
  
  .row-1::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107);
  }

  .iframe_row { 
    margin: 1rem;
    width: 100%;
  }
  .iframe_frame:hover {
    transform: scale(1.1);
    transition: transform ease 0.2s;
  }
  .iframe_frame {
    border: 0;
  }
  .rows {
    z-index: -1;
    top: 0;
    bottom: 0;
    top: 3rem;
    overflow: hidden;
    margin-top: 0.7rem;
    color:white;
    background-color:black;
  }
  
  .video_image {
    width: 340px;
  }
  .avatar {
    max-width: 3rem;
    margin-top: 10px;
  }
  .iframe_row:hover {
    transform: scale(1.1);
    transition: transform ease 0.2s;
    cursor: pointer;
  }
  @media only screen and (max-width: 800px) {
    .row_div {
      margin-top: 1rem;
      height: 90vh;
    }
    .row-1 {
      margin-top: 1.7rem;
    }
    .iframe_row {
      margin: 1rem;
      width: 100%;
    }
    .video_image {
      width: 210px;
    }
    .titles {
      font-size: 12px;
      margin-left: -1rem;
    }
    
    .rows{
      margin-top: 3rem;
    }
  }
  /* large */
  @media only screen and (min-width: 800px) {
    .rows {
      margin-left: 12rem;
      overflow: hidden;
      margin-top: 5rem;
      padding-top:0.3rem;
      padding-bottom:0.4rem;
      overflow-y:none
    }
  }

.playlist_delete{
  /* border: 1px solid white; */
  display: flex;
  justify-content:space-between;
  width: 100px;
  margin-left: 1rem;
  font-size: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.playlist_name_delete{
  font-size: 1.6rem;
}
.icon_size{
  font-size: 1.4rem;
  cursor: pointer;
}