@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  /* color: black */
  
}


.mt_1{
  margin-top: 1rem;
}
.flex{
  display: flex
}
.hero_svg{
  width: 50%;
}
.hero_image_div{
  /* display:grid;
  place-content: center; */
  width: 80%;
  margin: auto
}
.mssg_text{
  font-family: 'Dancing Script', cursive;
}
.extra_height{
  height: 5vh;
}